@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="image-section">
    <img src="~/img/main.jpg" alt="main">
  
</div>

<div class="text-section">
    <div class="text-block">
        <h1>Emily Resort</h1>
    </div>

   
    <div class="text-block" style="font-size:18px">Расположенный всего лишь в 4 километрах от центра Львова, Emily Hotel является настоящей жемчужиной комплекса отдыха Emily Resort! </div>

    <div class="text-block">
        <h1>Гостевая книга</h1>
    </div>
    <div>
        <a asp-controller="Mes" asp-action="AllMes" style="font-size:26px">Посмотреть отзывы</a>
    </div>

    

         
    </div>
<div class="contact">
    <h2>Наши контакты:</h2>
    <h4>тел. 0322 422 221</h4>
    <h4>ул. Хмельницкого, 9Б, Винники, Львовськая область, 79495</h4>
    <p>Мы вас ждем!</p>
</div>
</div>

